h1{
  color:pink;
  font-size:50px;
  text-align: center;
}
h2
{
  color:green;
  font-size:30px;
  text-align: center;
}
.love{
  color:black;
  border: 5px solid pink;
  width:5cm;
}
.크리스마스{
  font-size: 22px;
  color:green;
  border: 5px solid red;
  width:5cm
}
